@charset "UTF-8";

html {
 overflow-y: scroll;
}

h2 {
	margin: 0;
	background-color: #E8E9E9;
}

li {
	list-style:none
}


header {
    width: 980px;
    height: 60px;
    /*marginで上下に0左右にautoを指定*/
    margin: 0 auto;
    background-color: #E7F1FF;
}

input[type="submit"]{
	color: #FFFFFF;
	border-radius: 5px;
	border: none;
	padding: 5px 10px;
}

.submit-grey{
	background-color: #6B757F;
}
.submit-blue{
	background-color: #0D6EFD;
}
.submit-red{
	background-color: #DC3545;
}

input[readonly="readonly"]{
	border: none;
}
input[readonly="readonly"]:focus{
	outline: none;
}

header h1 {
    float: left;
    margin: 8px 20px;
    padding: 0;
    font-size: 32px;
}

header span {
	float: right;
	margin-top: 36px;
	margin-right: 25px;
	font-size: 12px;
}

#wrapper {
	width: 980px;
	margin: 20px auto;
	overflow: hidden;
	display:flex;
}

#main {
	width: 720px;
	float: right;
	margin: 0;
	padding-left: 10px;
	border-left: solid 1px #777777;
}
#main div {
	max-width: 700px
}

#mainmenu {
	width: 440px;
	float: right;
	margin: 0;
	padding-left: 9px;
	padding-right: 9px;
	border-right: solid 1px #777777;
	border-left: solid 1px #777777;
}

#special {
	width: 240px;
	float: right;
	margin: 0;
	padding: 10px;
}

#sidebar {
	height: 360px;
	width: 260px;
	float: left;
	margin: 0;
}

footer {
	background-color: #E8E9E9;
	width: 980px;
    height: 50px;
    margin: 0 auto;
}

footer p {
	width: 980ps;
	margin: 0 auto;
	padding-top: 6px;
	text-align: center;
	font-size: 12px;
}



#logout {
	width: 720px;
	margin: 0 auto;
}

#login {
	width: 490px;
	margin: 0 auto;
	border: solid 1px #000000;
}

#login h2 {
	text-align: center;
}

#login input[type="submit"] {
	width: 130px;
	margin: 10px 180px;
	padding: 8px 35px;
}

#login input[type="text"] {
	height: 30px;
	width: 310px;
	margin: 10px 50px;
	padding: 10px 40px 0 40px;
	border-radius: 2px;
	border: solid 1px #000000;
	background-color: #FFFFFF;
}

#login input[type="password"] {
	height: 30px;
	width: 310px;
	margin: 10px 50px;
	padding: 10px 40px 0 40px;
	border-radius: 2px;
	border: solid 1px #000000;
	background-color: #FFFFFF;
}

#login input[type="checkbox"] {
	margin-left: 180px;
}

#mainmenu section {
	height: 100px;
	overflow: hidden;
	margin-top: 20px;
}

.menu {
	height: 100px;
	width: 120px;
	margin-left: 20px;
	float:left;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}




.red {
	background-color: #DDBBBB;
}
.green {
	background-color: #BBDDBB;	
}
.blue {
	background-color: #BBBBDD;
}


.form{
	border: solid 1px#777777;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
#tlsbj {
	height: 60px;
	border-bottom: solid 1px#777777;
}
#tlstu {
	height: 60px;
}
#tlsbj table {
	border-spacing: 20px 0;
}
#tlsbj table tr th {
	font-weight:normal
}
#tlsbj div {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
#tlstu div {
	margin-top: 20px;
	display: inline-block;
}

#tr div {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#tr div form table tr th {
	font-weight:normal
}

#cu input[type="text"] {
	width: 600px;
	padding: 5px 10px;
	margin-bottom: 10px;
}
#cu select {
	width: 624px;
	padding: 5px 10px;
	margin-bottom: 10px;
}


.sql {
	width: 640px;
	border-spacing: 0;
}

.sql th {
	text-align: left;
	border-bottom: solid 1px #000000;
	padding-right: 10px;
	font-size: 14px;
}
.sql td {
	border-bottom: solid 1px #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	font-size: 14px;
	height: 25px;
}
.center {
	text-align: center;
}

.right {
	display: block;
	width: 640px;
	text-align: right;
}

.result {
	background-color: #8CC3A9;
	text-align: center;
	width: 100%;
}

.error {
	color: #FFD270;
	margin: 0;
}

a {
	color: #00aaff;
}
a:visited {
	color: #0000EE;
}

.a {
	background-color: #EEEEFF;
	
	vertical-align: 4px;
	padding: 10px;
	padding-top: 2px;
	padding-bottom: 6px;
	border-radius: 5px;
	text-decoration:none;
	border: solid 1px #00AAFF;

	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 92%, #777777 92%, #777777 100%);
}
.a:hover {
	vertical-align: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 92%, #FFFFFF 92%, #FFFFFF 100%);
}
.a:visited{
	
	border: #0000EE;
}


#tounai p{
	border: double 3px #00AAFF;
	padding: 5px;
}
#katoh img{
	border: outset 4px #8CC3A9;
}